#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btns-container {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.reset-btn {
  color: red;
}
